.detailsAndDutyFormWrapper {
    display: flex;
    padding: 10px 0;
    background-color: #f2f2f7;
}
.astronautDetailsWrapper {
    display: table-cell;
    width: 50%;
    border-right: 3px solid #000032;
    padding: 10px 25px;
}
.astronautDutyFormWrapper {
    display: table-cell;
    width: 50%;
    padding: 10px 25px;
}

.detailsHeader {
    display: inline-block;
    width: 100%;
    padding: 5px 0 10px 20px;
}
.detailsHeader > span:first-child {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    color: #0032A0;
}
.detailsHeader > span:nth-child(2) {
    display: table-cell;
    font-size: larger;
    font-weight: 400;
    padding-right: 50px;
    color: #E4002B;
}
.detailsHeader > span:last-child {
    display: table-cell;
    font-size: large;
    font-weight: normal;
    color: gray;
}
