@if (astronaut !== undefined && astronaut !== null) {
<div class="dutyWrapper">
    <div *ngIf="astronautDuties !== undefined">
        @for (duty of astronautDuties; track $index) {
        <div class="dutyList" [ngClass]="$index % 2 === 0 ? 'even' : 'odd'">
            <span>{{ duty.rank }}</span>
            <span>{{ duty.dutyTitle }}</span>
            <span>
                <span>Duty State Date:</span><span>{{ duty.dutyStartDate | date: 'MM/dd/yyyy' }}</span>
                @if (duty.dutyEndDate !== undefined && duty.dutyEndDate !== null) {
                <span>Duty End Date:</span><span>{{ duty.dutyEndDate | date: 'MM/dd/yyyy' }}</span>
                }
            </span>
        </div>
        }
    </div>
</div>
}