<div *ngIf="astronaut !== undefined">
    {{ astronaut.id }}<br />
    {{ astronaut.name }}<br />
    {{ astronaut.currentRank }}<br />
    {{ astronaut.currentDutyTitle }}<br />
    {{ astronaut.careerStartDate }} - {{ astronaut.careerEndDate || "N/A" }}
</div>

<div *ngIf="astronautDuties !== undefined">
    @for (duty of astronautDuties; track $index) {
    <br />
    <div>
        {{ duty.id }}<br />
        {{ duty.personId }}<br />
        {{ duty.rank }}<br />
        {{ duty.dutyTitle }}<br />
        {{ duty.dutyStartDate }}<br />
        {{ duty.dutyEndDate }}<br />
    </div>
    }
</div>