<section>
    <form>
        <input type="text" placeholder="Search by Astronaut Name" />
        <button class="primary" type="button">Search</button>
        &nbsp;
        <button class="primary" type="button" (click)="showNewAstronautForm()">New Astronaut</button>
    </form>
</section>

@if (isAddingNewAstronaut) {
<br />
Overview / instructions
<div [style]="isInAddingStep1 ? 'width:10%;background-color:navy;height:.3em;' : 'width:60%;background-color:navy;height:.3em;'"></div>
<hr/>
@if (isInAddingStep1) {
Step 1 of 2
<form>
    <input id="newAstronautName" name="newAstronautName" type="text" placeholder="Astronaut Name"
        [(ngModel)]="newAstronaut.name" />
    <button class="primary" type="button" (click)="addNewAstronaut()">Add</button>
    <button class="secondary" type="button" (click)="hideNewAstronautForm()">Cancel</button>
</form>
}
@if (isInAddingStep2) {
Step 2 of 2<br/>
Add a duty record for {{ newAstronaut.name }}
<form>
    <input id="newAstronautDutyName" name="newAstronautDutyName" type="hidden" [(ngModel)]="newAstronautDuty.name" disabled /><br />
    <input id="newAstronautDutyRank" name="newAstronautDutyRank" type="text" placeholder="Astronaut Rank"
        [(ngModel)]="newAstronautDuty.rank" /><br />
    <input id="newAstronautDutyTitle" name="newAstronautDutyTitle" type="text" placeholder="Astronaut Duty Title"
        [(ngModel)]="newAstronautDuty.dutyTitle" /><br />
    <input id="newAstronautDutyStartDate" name="newAstronautDutyStartDate" type="text"
        placeholder="Astronaut Duty Start Date" [(ngModel)]="newAstronautDuty.dutyStartDate" /><br />
    <button class="primary" type="button" (click)="addAstronautDuty()">Add</button>&nbsp;
    <button class="secondary" type="button" (click)="hideNewAstronautForm()">Cancel</button>
</form>
}
} @else {
<br />
<section>
    <app-astronaut-results [reloadTable]="reloadTable"></app-astronaut-results>
</section>
}